form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

#filtrar-tabela-materia,#filtrar-tabela-dificuldade{
	width: 325px;
	height: 25px;
    margin-bottom: 10px;
    margin: 15px 0;

}
.invisivel{
	display: none;
}

.input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 5px 10px;
    width: 100%;
}
.list{
    margin: 15px 0;
    display: block;
}
.checkbox{
    margin: 20px 0;
}

.enviar{
    margin:20px 0;
    padding: 5px 10px;
    width: 20%;
}
.criar-conta{
    float: right; 
    margin-top: 2%
}
.entrar-conta{
    margin-left: 2%;
}
.login-content{
    align-content: center;
}

.pergunta {
    cursor: pointer;
}